/* Space out content a bit */
body {
    padding-top: 10px;
    background-size: cover;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Space out content a bit */
/* Sticky footer */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    max-width: 640px;
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.container {
    max-width: 640px;
}

/* Set the fixed height of the footer here */
.footer {
    max-width: 640px;
    margin: 0 auto;
    height: 60px;
    padding-top: 0;
    border-top: 1px solid #e5e5e5;
}

.footer div.container > .text-muted {
    text-align: center;
    margin: 19px 0;
    color: #428bca;
}

.auth {
    margin: 9px;
}

.contact {
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

div.contact .btn-group {
    margin: 18px 15px;
}

.add-btn {
    margin: 9px;
}

.form-contact {
    padding: 15px;
    margin: 0 auto;
}

.form-contact .form-contact-heading {
    margin-bottom: 10px;
}

.form-contact .form-control:focus {
    z-index: 2;
}

.modal-dialog {
    margin: 0px auto;
}

@media (max-width: 768px) {
    .navbar-collapse {
        overflow-y: visible !important;
    }

    .navbar-form {
        margin-top: 0px;
        margin-bottom: 0px;
        border-top: 0px;
    }
}