<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <strong class="navbar-brand">Address Book</strong>
    </div>
    <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       ng-model="searchString"
                       placeholder="Search">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href=""
                   class="dropdown-toggle"
                   data-toggle="dropdown">Sort by<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="sort='name'; reverse=false;"
                           id="sortByName"
                           href="">Name</a>
                    </li>
                    <li>
                        <a ng-click="sort='surname'; reverse=false;"
                           id="sortBySurname"
                           href="">Surname</a>
                    </li>
                    <li><a ng-click="sort='phoneNumber'; reverse=false;"
                           id="sortByPhoneNumber"
                           href="">Phone Number</a>
                    </li>
                    <li><a ng-click="sort='group'; reverse=false;"
                           id="sortByGroup"
                           href="">Group</a>
                    </li>
                </ul>
            </li>
            <li>
                <button class="btn btn-success
                glyphicon glyphicon-plus-sign add-btn"> New</button>
            </li>
        </ul>
    </div>
</div>
<div class="media contact"
     ng-repeat="contact in contacts | filter:searchString | orderBy:sort:reverse">
    <img class="media-object img-responsive pull-left"
         src="/images/blue-user-icon-64.png"
         alt="user">
    <div class="media-body">
        <div class="row">
            <div class="col-lg-9 col-sm-9 col-md-9 col-xs-7">
                <div>
                    <strong class="media-heading">{{makeTitle(contact)}}</strong>
                </div>
                <div>{{contact.phoneNumber}}</div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-5">
                <div class="btn-group pull-right">
                    <button class="btn btn-info glyphicon glyphicon-pencil"> </button>
                    <button class="btn btn-danger glyphicon glyphicon-trash"> </button>
                </div>
            </div>
        </div>
    </div>
</div>